<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="format-detection" content="telephone=yes" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- head 中 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <style type="text/css">
        html, body {
            height: 100%;
        }
    </style>
    <title>通讯录</title>


</head>
<body>
<div class="page__bd">

    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">班级通讯录</div>
    </div>
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">tips:点击能发起电话哟O(∩_∩)O</div>
    </div>
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__bd" id="txl">

        </div>
    </div>
    <br>
    <div class='demos-content-padded'>
        <div class="weui-footer">
            <p class="weui-footer__text">Gdou家校服务 © 2019 zhifa</p>
        </div>
        <br>
    </div>
</div>

</body>
<!-- body 最后 -->
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/wx/getTxl",
            success: function (result) {
               $("#txl").append(result);
            }
        });
    });
</script>

</html>

