<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Fantasy Error Page </title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fantasy Error Page Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<!-- css files -->
<link href="/errorpage/css/style.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="/errorpage/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
<!-- //css files -->
<!-- online-fonts -->
<link href="//fonts.googleapis.com/css?family=Pinyon+Script" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
<!--//online-fonts -->
</head>
<body>
<div class="header">
	<h1>Fantasy error page</h1>
</div>
<div class="w3-main">
	<div class="agile-info">
		<h2>404</h2>
		<h3>SORRY</h3>
		<p>The Page You're Looking for Was Not Found.</p>
	</div>
</div>
<div class="footer-w3l">
	<p>&copy; 2019 Fantasy Error Page.</p>
</div>

</body>
</html>