<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>微信平台管理</title>
    <style>
        body{margin: 10px;}
        .demo-carousel{height: 200px; line-height: 200px; text-align: center;}
    </style>
    <link rel="stylesheet" href="/layui/lib/layui/css/layui.css" media="all">
    <script src="/jquery-easyui-1.3.3/jquery.min.js"></script>
    <script src="/layui/lib/layui/layui.all.js"></script>

</head>
<body>
<blockquote class="layui-elem-quote">微信平台管理</blockquote>

<table class="layui-hide" id="test" lay-filter="test"></table>
<div id="add-main" style="display: none;">
    <form class="layui-form" id="add-form"  action="">
        <div class="layui-form-item center" >
            <div class="layui-input-block">
            </div>
        </div>
        <div class="layui-form-item center" >
            <label class="layui-form-label" >信息编号id</label>
            <div class="layui-input-block">
                <input type="text" style="width: 320px;" name="id" lay-verify="required|number" placeholder="请输入信息编号id" autocomplete="off" class="layui-input">
            </div>
            <br>
            <label class="layui-form-label" >标题</label>
            <div class="layui-input-block">
                <input type="text" style="width: 320px;" name="title" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
            <br>
            <label class="layui-form-label" >描述</label>
            <div class="layui-input-block">
                <input type="text" style="width: 320px;" name="description"  value="点击查看" lay-verify="required" placeholder="请输入描述" autocomplete="off" class="layui-input">
            </div>
            <br>
            <label class="layui-form-label">图片地址</label>
            <div class="layui-input-block">
                <input type="tel" style="width: 320px;" name="picurl" lay-verify="required" placeholder="请输入图片地址" autocomplete="off" class="layui-input">
            </div>
            <br>
            <label class="layui-form-label">访问地址</label>
            <div class="layui-input-block">
                <input type="text" style="width: 320px;" name="url" lay-verify="required" placeholder="请输入访问地址" autocomplete="off" class="layui-input">
            </div>
            <br>

        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<div id="add-modofy" style="display: none;">
    <form class="layui-form" id="modify-form"  action="">
        <div class="layui-form-item center" >
            <label class="layui-form-label" >信息编号id：</label>
            <div class="layui-input-block">
                <input type="text" style="width: 320px;" disabled id="id" name="id" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item center" >
            <label class="layui-form-label" >标题：</label>
            <div class="layui-input-block">
                <input type="text" style="width: 320px;" name="title" id="title" lay-verify="required"  placeholder="标题：" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item center" >
            <label class="layui-form-label" >描述：</label>
            <div class="layui-input-block">
                <input type="text" style="width: 320px;" name="description" id="description" lay-verify="required" placeholder="描述：" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item center" >
            <label class="layui-form-label" >图片地址：</label>
            <div class="layui-input-block">
                <input type="text" style="width: 320px;" name="picurl" id="picurl" lay-verify="required" placeholder="图片地址：" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item center" >
            <label class="layui-form-label" >访问地址：</label>
            <div class="layui-input-block">
                <input type="text" style="width: 320px;" name="url" id="url" lay-verify="required" placeholder="访问地址：" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formmodify">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary" id="modifyReset">重置</button>
            </div>
        </div>
    </form>
</div>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加信息</button>
    </div>
</script>

<script type="text/html" id="barDemo">
   <!-- <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    var insertVar;
    var modifyData='';
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#test'
            ,url:'/wxMoreInfo/findAllWxMoreInfos'
            ,toolbar: '#toolbarDemo'
           /* ,toolbar: 'default'*/
           /* ,toolbar: true*/
           /* ,toolbar:'default'*/
            ,title: '用户数据表'
            ,cols: [[
                 {field:'id', title:'ID', width:50, fixed: 'left', unresize: true , align: 'center'}
                ,{field:'title', title:'标题', width:130 , align: 'center' }
                ,{field:'description', title:'描述', width:180  , align: 'center' }
                ,{field:'picurl', title:'图片地址', width:300, align: 'center'}
                ,{field:'url', title:'访问地址', width:340, align: 'center'}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:120 , align: 'center'}
            ]]
            ,page: true

        });

        //监听头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id)
                ,data = checkStatus.data; //获取选中的数据
            switch(obj.event){
                case 'add':
                    //layer.msg('添加233');
                    //页面层-自定义
                    insertVar=layer.open({
                        type: 1,
                        title:"登记信息",
                        // closeBtn: true,
                        shift: 2,
                        area: ['650px', '480px'],
                        shadeClose: true,
                        //btn: ['新增', '取消'],
                        // btnAlign: 'c',
                        content: $("#add-main"),
                        yes: function(index, layero){
                            //do something

                            return false;
                            layer.close(index); //如果设定了yes回调，需进行手工关闭
                            $("#add-main").css("display","none");
                        }
                        ,btn2: function(index, layero){
                            //按钮【按钮二】的回调
                            layer.close(index); //如果设定了yes回调，需进行手工关闭
                            $("#add-main").css("display","none");
                            //return false 开启该代码可禁止点击该按钮关闭
                        }
                        ,cancel: function(index, layero){
                            /* if(confirm('确定要关闭么')){ //只有当点击confirm框的确定时，该层才会关闭
                                 layer.close(index);
                                 $("#add-main").css("display","none");
                             }*/
                            layer.close(index);
                            $("#add-main").css("display","none");
                            return false;
                        }
                    });
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            //console.log(data.id);
            if(layEvent === 'detail'){
                layer.msg('查看操作: '+JSON.stringify(data));
            } else if(layEvent === 'del'){
                //  <span class="layui-badge layui-bg-blue">蓝</span>
                layer.confirm('真的删除吗?', function(index){
                    //向服务端发送删除指令
                    $.ajax({
                        url:"/wxMoreInfo/deleteById",
                        type:"post",
                        data:{id:data.id},
                        success:function(result){
                            if(result.status){
                                console.log(result);
                                obj.del(); //删除对应行（tr）的DOM结构
                                layer.close(index);
                                layer.msg( result.msg);
                            }else {
                                layer.msg( result.msg);
                            }
                        },
                        error:function(e){
                            layer.msg('错误！！');
                        }
                    });
                });
            } else if(layEvent === 'edit'){
                //layer.msg('编辑操作');
                modifyData=data;
                $("#id").val(data.id);
                $("#title").val(data.title);
                $("#picurl").val(data.picurl);
                $("#url").val(data.url);
                $("#description").val(data.description);
                modifyVar=layer.open({
                    type: 1,
                    title:"修改信息",
                    // closeBtn: true,
                    shift: 2,
                    area: ['500px', '460px'],
                    shadeClose: true,
                    //btn: ['新增', '取消'],
                    // btnAlign: 'c',
                    content: $("#add-modofy"),
                    cancel: function(index, layero){
                    /* if(confirm('确定要关闭么')){ //只有当点击confirm框的确定时，该层才会关闭
                         layer.close(index);
                         $("#add-main").css("display","none");
                     }*/
                    layer.close(modifyVar);
                    $("#add-modofy").css("display","none");
                    return false;
                }
                });

            }
        });

        //搜索框
        var $ = layui.$, active = {
            reload: function(){
                var demoReload = $('#demoReload');
                //执行重载
                table.reload('test', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        teacherName: demoReload.val()

                    }
                });
            }
        };

        $('#search').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
    layui.use('form', function(){
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        //……
        //但是，如果你的HTML是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
        form.render();

        //监听提交
        form.on('submit(formDemo)', function(data){
            console.log(JSON.stringify(data.field));

            /*提交表单*/
            $.ajax({
                url:'/wxMoreInfo/insertWxMoreInfo',
                method:'post',
                data:data.field,
                dataType:'JSON',
                success:function(res){
                    console.log(res);
                    if(res.code==0){
                        layer.msg(res.msg);
                        layer.close(insertVar); //如果设定了yes回调，需进行手工关闭
                        $("#add-modofy").css("display","none");
                        window.location.replace("/manager/wx_more_info");
                        //刷新表单
                        layui.table.reload('test', {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                    }
                    else{
                        console.log(res.msg);
                        layer.msg(res.msg);
                    }
                },
                error:function(data){
                    layer.msg("服务器错误");
                }
            });
            return false;//如果不加这句，则ajax的回调函数不执行
        });
        form.on('submit(formmodify)', function(data){
            $('#modifyReset').trigger("click");
            console.log(JSON.stringify(data.field));
            /*提交表单*/
            $.ajax({
                url:'/wxMoreInfo/modify',
                method:'post',
                data:data.field,
                dataType:'JSON',
                success:function(res){
                    console.log(res);
                    if(res.code==0){
                        layer.msg(res.msg);
                        layer.close(modifyVar);//如果设定了yes回调，需进行手工关闭
                        $("#add-main").css("display","none");
                        window.location.replace("/manager/wx_more_info");
                        //刷新表单
                        layui.table.reload('test', {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                    }
                    else{
                        console.log(res.msg);
                        layer.msg(res.msg);
                    }
                },
                error:function(data){
                    layer.msg("服务器错误");
                }
            });
            return false;//如果不加这句，则ajax的回调函数不执行
        });
    });
</script>

</body>
<script>
</script>
</html>
